@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



a {
    @apply text-gray-800 hover:text-primary;
}

.btn-primary {
    @apply bg-primary px-20xs md:px-20md py-5xs md:py-5md text-white hover:bg-white rounded border border-primary hover:text-primary;
}

.btn-lg {
    @apply py-10xs md:py-10md text-16xs md:text-16md;
}

/* nextjs-portal {
    display: none;
} */

.db-badge{
    background: #16a085;
    color: #fff;
    padding: 1px 20px;
    border-radius: 9999px;
}

/* custom-pagination.css */
.ant-pagination{
    @apply font-sans;
}
.ant-pagination .ant-pagination-item {
    border: none !important;
    font-size: 14px;
}
.ant-pagination-disabled {
    display: none !important;
}

.ant-pagination .ant-pagination-item-active a {
    color: #f14600;
    border-bottom: 1px solid #f14600 !important;
}

.ant-pagination .ant-pagination-item-active a:hover {
    color: #000;
    border-bottom: 1px solid #000 !important;
}

.ant-pagination-item-active {
    color: #f14600 !important;
    border-bottom: 1px solid #f14600 !important;
}

::-webkit-scrollbar {
    /* Customize the scrollbar width */
    width: 1px;
    color: red;
}

::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    width: 1px;
    color: red;
}

::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    width: 1px;
    color: red;
}