table {
    border-radius: 0 !important;
    tr {
        td {
            border: 1px solid #2c3e50 !important;
            border-right-width: 0 !important;
            border-top-width: 0 !important;
            &:last-child {
                border-right-width: 1px !important;
            }
        }
        td:first {
            border-left-width: 1px !important;
        }
    }
    th {
        background: #2c3e50 !important;
        color: #fff !important;
        text-align: center !important;
        border-radius: 0 !important;
    }
}