.item-link {
    padding: calc(12/1440*100vw) calc(10/1440*100vw);
    font-weight: 500;
    line-height: auto;
    text-align: left;
    color: #000;

    &:hover {
        background: #283547;
        border-color: #fff;
        color: #fff;
    }
}

.active {
    background: #283547;
    border-color: #fff;
    color: #fff;

    &:hover {
        background: #283547;
        border-color: #fff;
    }
}